.flexbox{
    background-color: rgb(79, 8, 79);
    height: 500px;
    width: 1500px;
    display: flex;
}
.flexbox div{
       width: 150px;
       height: 150px;
       background-color: white;
       padding: 5px;
       margin: 20px;
}